#sidebar ul {
  list-style: none;
}

#avatar {
  border-radius: 50%;
  opacity: 0.8;
}

#sidebar i {
  font-size: 25px;
}

#sidebar a, #sidebar a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
  text-decoration: none;
}

#sidebar a:hover, #sidebar a:visited:hover {
  color: #423F37;
}

ul#posts {
  list-style: none;
  font-size: 23px;
  margin-top: 60px;
}
