---
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

<ul id="posts" class="list-none lg:-ml-5">
  {posts.map((post) => {
    const formattedDate = post.data.date.toLocaleDateString('en-US', { month: 'short', year: 'numeric' });
    return (
      <li class="flex flex-wrap lg:flex-nowrap">
        <a class="w-full lg:w-[460px] xl:w-[570px] lg:ml-5" href={`/${post.id}`}>{post.data.title}</a>
        <span class="w-full lg:w-[220px] xl:w-[270px] lg:ml-5 text-muted lg:text-right">{formattedDate}</span>
      </li>
    );
  })}
</ul>
