<div id="sidebar">
  <a href="/"><img id="avatar" class="img-circle" src="/images/avatar.jpg" alt="Jonas Bengtsson"></a><br>

  <a href="mailto:jonas.b@gmail.com" title="E-mail"><i class="icon-envelope-alt"></i></a>
  <a href="https://se.linkedin.com/in/jonasbengtsson/" title="LinkedIn"><i class="icon-linkedin-sign"></i></a>
  <a href="https://twitter.com/jonasb" title="Twitter"><i class="icon-twitter"></i></a>
  <a href="https://github.com/jonasb" title="GitHub"><i class="icon-github"></i></a>

  <ul id="me" class="unstyled">
    <li>Jonas Bengtsson</li>
    <li class="muted">Malmö, Sweden</li>
  </ul>
</div>
