@font-face {
  font-family: 'FontAwesome';
  src: url('/font/fontawesome-webfont.eot?v=3.0.1');
  src: url('/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
       url('/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
       url('/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline-block;
}

.icon-envelope-alt:before { content: "\f0e0"; }
.icon-linkedin-sign:before { content: "\f08c"; }
.icon-twitter:before { content: "\f099"; }
.icon-github:before { content: "\f09b"; }

#sidebar {
  margin: 40px auto 0px auto;
  width: 200px;
}

#me {
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#avatar {
  opacity: 0.8;
  margin: 20px 0px;
  width: 150px;
  height: 150px;
}

#sidebar i {
  font-size: 25px;
}

#sidebar a, #sidebar a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
  text-decoration: none;
}

#sidebar a:hover, #sidebar a:visited:hover {
  color: #423F37;
}

ul#posts {
  font-size: 26px;
  margin-top: 60px;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul#posts li {
  margin-bottom: 12px;
}

#date-header {
  font-size: 23px;
  margin: 20px 0px;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
